<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.fhmsyhdproject.pantiasuhandhuafabanisalam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PantiAsuhanDhuafaBaniSalam">
        <activity android:name=".view.donation.needs.NeedsActivity" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.about.gallery.DetailGalleryActivity" />
        <activity android:name=".view.about.gallery.GalleryActivity" />
        <activity android:name=".view.about.location.LocationActivity" />
        <activity android:name=".view.about.member.AdministratorActivity" />
        <activity android:name=".view.about.member.ChildrenActivity" />
        <activity android:name=".view.home.article.ArticleActivity" />
        <activity android:name=".view.home.activity.ActivityActivity" />
        <activity android:name=".view.home.detail.DetailContentActivity" />
        <activity android:name=".view.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>